.app_footer {
  position: relative;
  padding: 50px 300px;
  color: var(--off-white);
  /* min-height: 30vh; */
  width: 100%;
  /* background: rgb(26, 25, 25); */
  background: var(--black);
  /* transform: translateY(90px); */
  z-index: 1;
}

.footer__wrapper {
  width: 60%;
  margin: auto;
}

.nav__links {
  text-transform: capitalize;
}

.nav__links a:hover {
  color:var(--red);
}

.footer__item {
  padding: 4px 0;
}


@media only screen and (max-width: 1024px) {
  .app_footer {
    padding: 50px;
  }

  .footer__wrapper {
    width: 80%;
    column-gap: 50px;
    padding: 40px;
  }
}


@media only screen and (max-width: 768px) {
  .app_footer {
    padding: 50px;
  }

  .footer__wrapper {
    width: 80%;
    column-gap: 50px;
  }
}

@media only screen and (max-width: 640px) {
  .app_footer {
    padding: 50px;
  }

  .footer__wrapper {
    width: 100%;
    
  }
}
