
:root {
  --black : #111517;
  --off-white: #ccc8c8;
  --white: #fff;
  --very-off-white:#9ba2b2;
  --dark : #1b2a2f;
  --teal: #00fff6;
  --red: #ef0d33;
  --wood: #a56107;
  --faint: #686767;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Helvetica, sans-serif; */
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

a.active {
  color: var(--wood);
}

* {
  box-sizing: border-box;
}

.link-btn {
  padding: 10px;
  background: var(--off-white);
  border-radius: 4px;
  color: var(--dark);
}

.link-btn:hover {
  background: var(--red);
  color: var(--off-white);
}

[data-scroll] {
  transition: opacity 1s;
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}

.capitalize{
  text-transform: capitalize;
}

.content_text {
  font-family: 'Source Sans Pro', sans-serif;
}

.rounded-image {
  border: 1px solid wheat;
  padding: 5px;
  border-radius: 5px;
}

.big-caption {
  font-size: 3rem;
}

.pure-caption {
  color: var(--white);
}

.faint-caption {
  color: var(--very-off-white);
}


.faint-caption.hoverable:hover {
  color: var(--off-white);
}

@media only screen and (max-width: 600px) {
  body {
    /* cursor: none; */
  }

  .reverse-item div:last-child {
    margin-bottom: 20px;
  }

  .big-caption {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  body {
    cursor: none;
  }
}
