.aboutWrapper {
  /* background: url('/board2.png') no-repeat; */
  background-color: var(--wood);
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  z-index: 3;
}

.aboutOverlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(26, 25, 25, .4));
  /* background: black; */
  /* opacity: 0.25; */
  color: var(--off-white);
  height: 60vh;
  width: 100vw;
  display: block;
  position: absolute;
  top: 0;
  z-index: 3;
  opacity: 0.5;
}

.aboutContent {
  background: var(--dark);
  color: var(--off-white);
  padding: 200px;
  margin-top: -5px;
}

/* .rulesContent {
  background: var(--dark);
  color: var(--off-white);
  padding: 200px;
  min-height: 100vh;
} */

/* .namnamContent {
  background: var(--black);
  color: var(--off-white);
  padding: 200px;
  color: var(--off-white);
} */

.abapaContent {
  background: var(--black);
  padding: 200px;
  color: var(--off-white);
}

/* .game_rules ul{
  border-left: 2px dotted var(--red);
  padding-left: 20px;
} */

/* .game_rules ul li {
  padding-bottom: 15px;
  position: relative;
} */

/* .game_rules ul li:last-child {
  padding-bottom: 0;
} */

/* .game_rules ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  left: -27px;
  top: 10px;
} */

@media only screen and (max-width: 1440px) {
  .aboutContent,
  .rulesContent,
  .abapaContent,
  .namnamContent {
    padding: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .aboutOverlay {
    width: 100%;
  }

  .abapaContent,
  .rulesContent,
  .namnamContent,
  .aboutContent {
    padding: 80px 40px;
  }
}
