.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  z-index: 1;
  color: var(--off-white);
  height: 100vh;
}

.main__content {
  background: var(--off-white);
  z-index: 2;
  color: var(--off-white);
}

.download_btn {
  background: var(--red);
  border-radius: 50px;
  padding: 10px 18px;
  transition: all .5s ease-in-out;
  color: var(--off-white);
}

.download_btn:hover {
  color: var(--red);
  background: var(--off-white);
  transition: all 0.3s ease-in-out;
}

.download_img {
  width: 20px;
  height: auto;
  padding: 5px;
  border-radius: 100%;
  background: var(--off-white);
}

.content_text {
  font-family: 'Source Sans Pro', sans-serif;
}

.hero {
  background: url('/oware-web.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.hero_overlay {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(26, 25, 25, .25));
  height: 100vh;
  width: 100%;
}

.hero_content{
  height: 100vh;
  padding: 150px 20px;
  text-align: center;
  width: 100%;
}

.hero_content h1 {
  font-size: 7rem;
  font-weight: bold;
}

/* .hero_content_caption {
  font-size: 2rem;
  color: #a5a5a5;
  font-weight: 500;
  text-transform: capitalize;
  width: 450px;
  margin: auto;
  text-align: right;
  text-shadow: 2px 2px 4px #161616;
} */


/* .hero_content_overlay {
  background: linear-gradient(rgba(252, 252, 252, 0.1), rgba(255, 255, 255, 0.1));
  width: 100%;
  height: 150px;
  z-index: -1;
  display: block;
  position: absolute;
} */

.hero_text {
  margin-top: 140px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 0;
};

@media only screen and (max-width: 640px) {}
@media only screen and (max-width: 640px) {
  .hero_overlay {
    width: 100%;
    display: none;
  }

  .hero_text {
    margin-top: 18vh;
    width: 90%;
    margin-left: 5%;
  }

  .hero {
    width: 100%;
  }

  .hero_content {
    height: 100vh;
    padding: 40px 0px;
  }

  .hero_content_caption {
    width: auto;
    margin-top: 30px;
    text-align: center;
  }

  .download_btn {
    margin-top: 5vh;
  }

  .hero_content h1 {
    font-size: 4rem;
  }
}
